.main{
    border: solid 2px red;
    background-color: azure;
    padding: 100px;
}

h1 {
    color:  olor: red;
    
}

p {
  color: blue;
}

.tab {
    text-align: center;
}

li {
    color: brown;
}